<div class="container mt-5 col-sm-6 offset-sm-3">
  <h1 class="text-center" *ngIf="user">Datos del Usuario</h1>
    <table class="table" *ngIf="user; else templateEmpty">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{user.name}}</th>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.address.street}} - {{ user.address.suite}}</td>
        </tr>

      </tbody>
    </table>

    <ng-template #templateEmpty>
      <div class="mt-5 text-center alert alert-danger" role="alert">
        No existen usuarios para este ID
      </div>
   
    </ng-template>
</div>